body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #E7EBF3;
}

a {
  text-decoration: none;
}

.logo:hover {
  /* Add your hover styles here */
  /* For example, changing the color to red */
  filter: grayscale(100%);
}