@font-face {
  font-family: GreedNarrow-SemiBold;
  src: local('GreedNarrow-SemiBold'), url('@/assets/GreedNarrow-SemiBold.otf') format('opentype');
}

@font-face {
  font-family: Kommuna Demo;
  src: local('KommunaNarrow1.10.woff'), url('@/assets/KommunaNarrow1.10.woff') format('woff');
}

body, a {
  font-family: GreedNarrow-SemiBold, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  /* background-color: #d4dde7;  */
  /* background-color: #eef2f6;  */
  background-color: #d1d8e1;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: GreedNarrow-SemiBold;
  text-transform: uppercase;
}

.logo:hover {
  /* Add your hover styles here */
  /* For example, changing the color to red */
  filter: grayscale(100%);
}
/* 
.logo {
  backdrop-filter: blur(10px);
} */

a:hover {
  color: white;
  
}

h1 {
  font-family: GreedNarrow-SemiBold;
  text-transform: uppercase;
}

.about-links {
  font-family: GreedNarrow-SemiBold;
}


.footer p,  .menu-overlay p {
  font-family: Kommuna Demo;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
}
