@font-face {
  font-family: GreedTRIAL-SemiBold;
  src: local('GreedTRIAL-SemiBold'), url('@/assets/GreedTRIAL-SemiBold.woff') format('woff');
}

@font-face {
  font-family: Kommuna Demo;
  src: local('kommuna_demo_400_narrow-webfont.woff'), url('@/assets/kommuna_demo_400_narrow-webfont.woff') format('woff');
}

body, a {
  font-family: GreedTRIAL-SemiBold, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #d4dde7; 
  
}

a {
  color: inherit;
  text-decoration: none;
  font-family: GreedTRIAL-SemiBold;
  text-transform: uppercase;
}

.logo:hover {
  /* Add your hover styles here */
  /* For example, changing the color to red */
  filter: grayscale(100%);
}
/* 
.logo {
  backdrop-filter: blur(10px);
} */

a:hover {
  color: white;
  
}

h1 {
  font-family: GreedTRIAL-SemiBold;
  text-transform: uppercase;
}

.about-links {
  font-family: GreedTRIAL-SemiBold;
}


.footer p {
  font-family: Kommuna Demo;
}